In [1]:
import pymysql.cursors

import pandas as pd
import numpy as np
from time import time
import json
from sqlalchemy import create_engine
import re
import datetime
import lifetimes
#import pymc3 as pm

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
plt.style.use('seaborn-whitegrid')
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
import cufflinks
cufflinks.go_offline(connected=True)
init_notebook_mode(connected=True)

In [2]:
connect = r"postgresql://{user}:{passw}@panamera-ods.cnsuxis6zqxr.us-west-2.redshift.amazonaws.com:5439/panameraods"
connection_string = connect.format(user='lucasdresl' , passw='cQsY801a76x82x62aWDT')

# WEB

In [96]:
query = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'intro'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'intro' THEN session_long ELSE NULL END) AS profile_completion_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_about,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS puso_al_menos_phone,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS puso_al_menos_email,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS valid_name,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS social_account
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
;

  
"""

query_has_about = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS profile_completion_show_about,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_about
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
group by 1
;

"""


query_has_picture = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture'
)
SELECT
  country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS profile_completion_show_picture,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
group by 1
;

"""

query_valid_social_account = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account'
)
SELECT
  country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS profile_completion_show_social_account,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS valid_social_account
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
group by 1
;

"""

query_real_name = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name'
)
SELECT
  country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS profile_completion_name_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS valid_name
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
group by 1
;

"""


query_valid_email = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month

WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email' and date_event_nk > '2019-05-16'
)
SELECT
  country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS profile_completion_email_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'verify_complete' and origin_nk = 'profile_bar' and login_method='email' THEN session_long ELSE NULL END) AS valid_email
FROM ods.panameraolx_mea_hydra_ninja_web_last_month

JOIN verified USING (session)
where date_event_nk > '2019-05-16'
group by 1
;

"""


query_valid_phone = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone'
 and date_event_nk > '2019-05-16'
)
SELECT
  country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS profile_completion_phone_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'verify_complete' and origin_nk = 'profile_bar' and login_method='phone' THEN session_long ELSE NULL END) AS valid_phone
FROM ods.panameraolx_mea_hydra_ninja_web_last_month

JOIN verified USING (session)
 where date_event_nk > '2019-05-16'
group by 1
;

"""

In [97]:
df_mea = pd.read_sql_query(query.replace('%', '%%'), connection_string)
df_mea_has_about = pd.read_sql_query(query_has_about.replace('%', '%%'), connection_string)
df_mea_has_picture = pd.read_sql_query(query_has_picture.replace('%', '%%'), connection_string)
df_mea_valid_social_account = pd.read_sql_query(query_valid_social_account.replace('%', '%%'), connection_string)
df_mea_real_name = pd.read_sql_query(query_real_name.replace('%', '%%'), connection_string)
df_mea_valid_email = pd.read_sql_query(query_valid_email.replace('%', '%%'), connection_string)
df_mea_valid_phone = pd.read_sql_query(query_valid_phone.replace('%', '%%'), connection_string)

In [98]:
df_mea.head()

,profile_completion_show,has_about,puso_al_menos_phone,puso_al_menos_email,has_picture,valid_name,social_account
0,30164,3912,4130,2024,2124,1861,470

In [99]:
df_mea_valid_social_account.head()

   country_sk  profile_completion_show_social_account  valid_social_account
0  olx|mea|za                                    1121                   126
1  olx|mea|ug                                     109                    20
2  olx|mea|gh                                     271                    48
3  olx|mea|pk                                     679                    44
4  olx|mea|ke                                     592                    96

- PICTURE

In [100]:
df_mea_has_picture['has_picture_conversion'] = df_mea_has_picture['has_picture'] / df_mea_has_picture['profile_completion_show_picture'] 
df_mea_has_picture.head()

,country_sk,profile_completion_show_picture,has_picture,has_picture_conversion
0,olx|mea|ug,258,53,0.205426
1,olx|mea|za,3978,696,0.174962
2,olx|mea|gh,755,193,0.255629
3,olx|mea|ng,1560,481,0.308333
4,olx|mea|pk,4011,355,0.088507

- NAME

In [101]:
df_mea_real_name['valid_name_conversion'] = df_mea_real_name['valid_name'] / df_mea_real_name['profile_completion_name_show'] 
df_mea_real_name.head()

   country_sk  profile_completion_name_show  valid_name  valid_name_conversion
0  olx|mea|ug                           199          54               0.271357
1  olx|mea|pk                          1025         352               0.343415
2  olx|mea|ke                           759         212               0.279315
3  olx|mea|ng                          1003         279               0.278166
4  olx|mea|gh                           494         194               0.392713

- HAS ABOUT

In [102]:
df_mea_has_about['has_about_conversion'] = df_mea_has_about['has_about'] / df_mea_has_about['profile_completion_show_about'] 
df_mea_has_about.head()

   country_sk  profile_completion_show_about  has_about  has_about_conversion
0  olx|mea|ug                            186        101              0.543011
1  olx|mea|gh                            542        293              0.540590
2  olx|mea|pk                           2515        670              0.266402
3  olx|mea|ke                           1274        665              0.521978
4  olx|mea|ng                           1872       1184              0.632479

- HAS EMAIL

In [103]:
df_mea_valid_email['has_valid_email_conversion'] = df_mea_valid_email['valid_email'] / df_mea_valid_email['profile_completion_email_show'] 
df_mea_valid_email.head()

,country_sk,profile_completion_email_show,valid_email,has_valid_email_conversion
0,olx|mea|za,799,77,0.096370
1,olx|mea|ug,70,11,0.157143
2,olx|mea|gh,244,27,0.110656
3,olx|mea|ng,352,56,0.159091
4,olx|mea|pk,498,75,0.150602

- HAS PHONE

In [104]:
df_mea_valid_phone['has_valid_phone_conversion'] = df_mea_valid_phone['valid_phone'] / df_mea_valid_phone['profile_completion_phone_show'] 
phone = df_mea_valid_phone['has_valid_phone_conversion'] 
df_mea_valid_phone.head()

,country_sk,profile_completion_phone_show,valid_phone,has_valid_phone_conversion
0,olx|mea|za,2313,107,0.046260
1,olx|mea|ug,151,12,0.079470
2,olx|mea|ng,310,28,0.090323
3,olx|mea|gh,558,32,0.057348
4,olx|mea|ke,307,20,0.065147

- HAS SOCIAL ACCOUNT

In [105]:
df_mea_valid_social_account['social_account_conversion'] = df_mea_valid_social_account['valid_social_account'] / df_mea_valid_social_account['profile_completion_show_social_account'] 
social_account = df_mea_valid_social_account['social_account_conversion']
df_mea_valid_social_account.head()

,country_sk,profile_completion_show_social_account,valid_social_account,social_account_conversion
0,olx|mea|za,1121,126,0.112400
1,olx|mea|ug,109,20,0.183486
2,olx|mea|gh,271,48,0.177122
3,olx|mea|pk,679,44,0.064801
4,olx|mea|ke,592,96,0.162162

In [106]:
d = {'step'      : ['about', 'phone' , 'email' , 'picture' , 'name' , 'social account'],
     'conversion': [df_mea_has_about['has_about_conversion'].values , 
                    df_mea_valid_phone['has_valid_phone_conversion'].values,
                    df_mea_valid_email['has_valid_email_conversion'].values,
                    df_mea_has_picture['has_picture_conversion'].values,
                    df_mea_real_name['valid_name_conversion'].values,
                    df_mea_valid_social_account['social_account_conversion'].values]}
df = pd.DataFrame(data=d)
df.head(20)

             step                                         conversion
0           about  [0.543010752688172, 0.540590405904059, 0.26640...
1           phone  [0.04626026805015132, 0.07947019867549669, 0.0...
2           email  [0.09637046307884856, 0.15714285714285714, 0.1...
3         picture  [0.2054263565891473, 0.17496229260935142, 0.25...
4            name  [0.271356783919598, 0.3434146341463415, 0.2793...
5  social account  [0.11239964317573595, 0.1834862385321101, 0.17...

# Android

In [3]:
query = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'myaccount_action' and chosen_option = 'profile_bar'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'myaccount_action' and chosen_option = 'profile_bar'  THEN session_long ELSE NULL END) AS profile_completion_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_about,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS puso_al_menos_phone,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS puso_al_menos_email,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS valid_name,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'social_account' THEN session_long ELSE NULL END) AS social_account
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
;

  
"""

query_has_about = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about'
)
SELECT
  country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS profile_completion_show_about,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_about
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
group by 1
;

"""


query_has_picture = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS profile_completion_show_picture,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
group by 1
;

"""

query_valid_social_account = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS profile_completion_show_social_account,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS valid_social_account
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
group by 1

;

"""

query_real_name = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS profile_completion_name_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS valid_name
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
group by 1
;

"""


query_valid_email = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month

WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email' and date_event_nk > '2019-05-16'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS profile_completion_email_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'verify_complete' and origin_nk = 'profile_bar'  THEN session_long ELSE NULL END) AS valid_email
FROM ods.panameraolx_mea_hydra_ninja_android_last_month

JOIN verified USING (session)
where date_event_nk > '2019-05-16'
group by 1
;

"""


query_valid_phone = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone'
 and date_event_nk > '2019-05-16'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS profile_completion_phone_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'verify_complete' and origin_nk = 'profile_bar' THEN session_long ELSE NULL END) AS valid_phone
FROM ods.panameraolx_mea_hydra_ninja_android_last_month

JOIN verified USING (session)
 where date_event_nk > '2019-05-16'
 group by 1
;

"""

In [4]:
df_mea_android = pd.read_sql_query(query.replace('%', '%%'), connection_string)
df_mea_has_about_android = pd.read_sql_query(query_has_about.replace('%', '%%'), connection_string)
df_mea_has_picture_android = pd.read_sql_query(query_has_picture.replace('%', '%%'), connection_string)
df_mea_valid_social_account_android = pd.read_sql_query(query_valid_social_account.replace('%', '%%'), connection_string)
df_mea_real_name_android = pd.read_sql_query(query_real_name.replace('%', '%%'), connection_string)
df_mea_valid_email_android = pd.read_sql_query(query_valid_email.replace('%', '%%'), connection_string)
df_mea_valid_phone_android = pd.read_sql_query(query_valid_phone.replace('%', '%%'), connection_string)

In [5]:
df_mea_android.head()

,profile_completion_show,has_about,puso_al_menos_phone,puso_al_menos_email,has_picture,valid_name,social_account
0,98629,14876,14382,9129,1963,8957,0

In [6]:
df_mea_has_about_android.head()

   country_sk  profile_completion_show_about  has_about
0  olx|mea|za                           3798       1499
1  olx|mea|ke                           1750        878
2  olx|mea|ug                            422        271
3  olx|mea|gh                           1071        579
4  olx|mea|tz                              2          0

- PICTURE

In [7]:
df_mea_has_picture_android['has_picture_conversion'] = df_mea_has_picture_android['has_picture'] / df_mea_has_picture_android['profile_completion_show_picture'] 
df_mea_has_picture_android.head()

,country_sk,profile_completion_show_picture,has_picture,has_picture_conversion
0,olx|mea|gh,753,236,0.313413
1,olx|mea|za,2765,598,0.216275
2,olx|mea|ug,344,123,0.357558
3,olx|mea|pk,31455,10,0.000318
4,olx|mea|ke,1443,498,0.345114

- NAME

In [8]:
df_mea_real_name_android['valid_name_conversion'] = df_mea_real_name_android['valid_name'] / df_mea_real_name_android['profile_completion_name_show'] 
df_mea_real_name_android.head()

   country_sk  profile_completion_name_show  valid_name  valid_name_conversion
0  olx|mea|gh                           358         266               0.743017
1  olx|mea|pk                          9277        5732               0.617872
2  olx|mea|za                          1077         746               0.692665
3  olx|mea|ug                           159         125               0.786164
4  olx|mea|ke                           630         467               0.741270

- HAS ABOUT

In [9]:
df_mea_has_about_android['has_about_conversion'] = df_mea_has_about_android['has_about'] / df_mea_has_about_android['profile_completion_show_about'] 
df_mea_has_about_android.head()

   country_sk  profile_completion_show_about  has_about  has_about_conversion
0  olx|mea|za                           3798       1499              0.394681
1  olx|mea|ke                           1750        878              0.501714
2  olx|mea|ug                            422        271              0.642180
3  olx|mea|gh                           1071        579              0.540616
4  olx|mea|tz                              2          0              0.000000

- HAS EMAIL

In [10]:
df_mea_valid_email_android['has_valid_email_conversion'] = df_mea_valid_email_android['valid_email'] / df_mea_valid_email_android['profile_completion_email_show'] 
df_mea_valid_email_android.head()

,country_sk,profile_completion_email_show,valid_email,has_valid_email_conversion
0,olx|mea|za,2063,0,0.0
1,olx|mea|ug,333,0,0.0
2,olx|mea|ke,1135,0,0.0
3,olx|mea|gh,776,0,0.0
4,olx|mea|ng,913,0,0.0

- HAS PHONE

In [11]:
df_mea_valid_phone_android['has_valid_phone_conversion'] = df_mea_valid_phone_android['valid_phone'] / df_mea_valid_phone_android['profile_completion_phone_show'] 
df_mea_valid_phone_android.head()

,country_sk,profile_completion_phone_show,valid_phone,has_valid_phone_conversion
0,olx|mea|za,3157,0,0.0
1,olx|mea|gh,897,0,0.0
2,olx|mea|pk,14471,0,0.0
3,olx|mea|ke,736,0,0.0
4,olx|mea|ug,361,0,0.0

- HAS SOCIAL ACCOUNT

In [12]:
df_mea_valid_social_account_android['social_account_conversion'] = df_mea_valid_social_account_android['valid_social_account'] / df_mea_valid_social_account_android['profile_completion_show_social_account'] 
df_mea_valid_social_account_android.head()

,country_sk,profile_completion_show_social_account,valid_social_account,social_account_conversion
0,olx|mea|ug,236,0,0.0
1,olx|mea|za,1553,0,0.0
2,olx|mea|pk,13416,0,0.0
3,olx|mea|gh,493,0,0.0
4,olx|mea|ng,845,0,0.0