In [1]:
import pymysql.cursors

import pandas as pd
import numpy as np
from time import time
import json
from sqlalchemy import create_engine
import re
import datetime
import lifetimes
#import pymc3 as pm

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
plt.style.use('seaborn-whitegrid')
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
import cufflinks
cufflinks.go_offline(connected=True)
init_notebook_mode(connected=True)

In [2]:
connect = r"postgresql://{user}:{passw}@panamera-ods.cnsuxis6zqxr.us-west-2.redshift.amazonaws.com:5439/panameraods"
connection_string = connect.format(user='lucasdresl' , passw='cQsY801a76x82x62aWDT')

# WEB

In [25]:
query = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'intro'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'intro' THEN session_long ELSE NULL END) AS profile_completion_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_about,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS puso_al_menos_phone,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS puso_al_menos_email,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS valid_name,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS social_account
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
;

  
"""

query_has_about = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS profile_completion_show_about,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_about
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
;

"""


query_has_picture = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS profile_completion_show_picture,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
;

"""

query_valid_social_account = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS profile_completion_show_social_account,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS valid_social_account
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
;

"""

query_real_name = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS profile_completion_name_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS valid_name
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
;

"""


query_valid_email = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month

WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email' and date_event_nk > '2019-05-23'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS profile_completion_email_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'verify_complete' and origin_nk = 'profile_bar' and login_method = 'email'  THEN session_long ELSE NULL END) AS valid_email
FROM ods.panameraolx_mea_hydra_ninja_web_last_month

JOIN verified USING (session)
where date_event_nk > '2019-05-23'
;

"""


query_valid_phone = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone'
 and date_event_nk > '2019-05-23'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS profile_completion_phone_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'verify_complete' and origin_nk = 'profile_bar' and login_method = 'phone' THEN session_long ELSE NULL END) AS valid_phone
FROM ods.panameraolx_mea_hydra_ninja_web_last_month

JOIN verified USING (session)
 where date_event_nk > '2019-05-23'
;

"""

In [26]:
#df_mea = pd.read_sql_query(query.replace('%', '%%'), connection_string)
#df_mea_has_about = pd.read_sql_query(query_has_about.replace('%', '%%'), connection_string)
#df_mea_has_picture = pd.read_sql_query(query_has_picture.replace('%', '%%'), connection_string)
#df_mea_valid_social_account = pd.read_sql_query(query_valid_social_account.replace('%', '%%'), connection_string)
#df_mea_real_name = pd.read_sql_query(query_real_name.replace('%', '%%'), connection_string)
df_mea_valid_email = pd.read_sql_query(query_valid_email.replace('%', '%%'), connection_string)
df_mea_valid_phone = pd.read_sql_query(query_valid_phone.replace('%', '%%'), connection_string)

In [27]:
df_mea.head()

,profile_completion_show,has_about,puso_al_menos_phone,puso_al_menos_email,has_picture,valid_name,social_account
0,27754,3603,3807,1892,1949,1706,446

In [28]:
df_mea_valid_social_account.head()

,profile_completion_show_social_account,valid_social_account,social_account_conversion
0,3146,447,0.142085

- PICTURE

In [29]:
df_mea_has_picture['has_picture_conversion'] = df_mea_has_picture['has_picture'] / df_mea_has_picture['profile_completion_show_picture'] 
df_mea_has_picture.head()

   profile_completion_show_picture  has_picture  has_picture_conversion
0                            10894         1947                0.178722

- NAME

In [30]:
df_mea_real_name['valid_name_conversion'] = df_mea_real_name['valid_name'] / df_mea_real_name['profile_completion_name_show'] 
df_mea_real_name.head()

   profile_completion_name_show  valid_name  valid_name_conversion
0                          5985        1706               0.285046

- HAS ABOUT

In [31]:
df_mea_has_about['has_about_conversion'] = df_mea_has_about['has_about'] / df_mea_has_about['profile_completion_show_about'] 
df_mea_has_about.head()

   profile_completion_show_about  has_about  has_about_conversion
0                           8020       3582              0.446633

- HAS EMAIL

In [32]:
df_mea_valid_email['has_valid_email_conversion'] = df_mea_valid_email['valid_email'] / df_mea_valid_email['profile_completion_email_show'] 
df_mea_valid_email.head()

   profile_completion_email_show  valid_email  has_valid_email_conversion
0                           1017          191                    0.187807

- HAS PHONE

In [33]:
df_mea_valid_phone['has_valid_phone_conversion'] = df_mea_valid_phone['valid_phone'] / df_mea_valid_phone['profile_completion_phone_show'] 
phone = df_mea_valid_phone['has_valid_phone_conversion'] 
df_mea_valid_phone.head()

   profile_completion_phone_show  valid_phone  has_valid_phone_conversion
0                           1992          240                    0.120482

- HAS SOCIAL ACCOUNT

In [34]:
df_mea_valid_social_account['social_account_conversion'] = df_mea_valid_social_account['valid_social_account'] / df_mea_valid_social_account['profile_completion_show_social_account'] 
social_account = df_mea_valid_social_account['social_account_conversion']
df_mea_valid_social_account.head()

,profile_completion_show_social_account,valid_social_account,social_account_conversion
0,3146,447,0.142085

In [35]:
d = {'step'      : ['about', 'phone' , 'email' , 'picture' , 'name' , 'social account'],
     'conversion': [df_mea_has_about['has_about_conversion'].values , 
                    df_mea_valid_phone['has_valid_phone_conversion'].values,
                    df_mea_valid_email['has_valid_email_conversion'].values,
                    df_mea_has_picture['has_picture_conversion'].values,
                    df_mea_real_name['valid_name_conversion'].values,
                    df_mea_valid_social_account['social_account_conversion'].values]}
df = pd.DataFrame(data=d)
df.head(20)

             step             conversion
0           about  [0.44663341645885285]
1           phone  [0.12048192771084337]
2           email  [0.18780727630285152]
3         picture  [0.17872223242151644]
4            name  [0.28504594820384294]
5  social account  [0.14208518753973298]

# Android

In [14]:
query = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'myaccount_action' and chosen_option = 'profile_bar'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'myaccount_action' and chosen_option = 'profile_bar'  THEN session_long ELSE NULL END) AS profile_completion_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_about,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS puso_al_menos_phone,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS puso_al_menos_email,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS valid_name,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'social_account' THEN session_long ELSE NULL END) AS social_account
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
;

  
"""

query_has_about = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about'
)
SELECT
  country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS profile_completion_show_about,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_about
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
group by 1
;

"""


query_has_picture = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS profile_completion_show_picture,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
group by 1
;

"""

query_valid_social_account = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS profile_completion_show_social_account,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS valid_social_account
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
group by 1

;

"""

query_real_name = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS profile_completion_name_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS valid_name
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
group by 1
;

"""


query_valid_email = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month

WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email' and date_event_nk > '2019-05-16'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS profile_completion_email_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'verify_complete' and origin_nk = 'profile_bar'  THEN session_long ELSE NULL END) AS valid_email
FROM ods.panameraolx_mea_hydra_ninja_android_last_month

JOIN verified USING (session)
where date_event_nk > '2019-05-16'
group by 1
;

"""


query_valid_phone = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone'
 and date_event_nk > '2019-05-16'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS profile_completion_phone_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'verify_complete' and origin_nk = 'profile_bar' THEN session_long ELSE NULL END) AS valid_phone
FROM ods.panameraolx_mea_hydra_ninja_android_last_month

JOIN verified USING (session)
 where date_event_nk > '2019-05-16'
;

"""

In [15]:
df_mea_android = pd.read_sql_query(query.replace('%', '%%'), connection_string)
df_mea_has_about_android = pd.read_sql_query(query_has_about.replace('%', '%%'), connection_string)
df_mea_has_picture_android = pd.read_sql_query(query_has_picture.replace('%', '%%'), connection_string)
df_mea_valid_social_account_android = pd.read_sql_query(query_valid_social_account.replace('%', '%%'), connection_string)
df_mea_real_name_android = pd.read_sql_query(query_real_name.replace('%', '%%'), connection_string)
df_mea_valid_email_android = pd.read_sql_query(query_valid_email.replace('%', '%%'), connection_string)
df_mea_valid_phone_android = pd.read_sql_query(query_valid_phone.replace('%', '%%'), connection_string)

In [16]:
df_mea_android.head()

,profile_completion_show,has_about,puso_al_menos_phone,puso_al_menos_email,has_picture,valid_name,social_account
0,42141,3110,2692,1854,529,1729,0

In [17]:
df_mea_has_about_android.head()

   country_sk  profile_completion_show_about  has_about
0  olx|mea|gh                            185        101
1  olx|mea|za                            855        336
2  olx|mea|pk                           7394       2316
3  olx|mea|ug                             59         33
4  olx|mea|ke                            309        156

- PICTURE

In [18]:
df_mea_has_picture_android['has_picture_conversion'] = df_mea_has_picture_android['has_picture'] / df_mea_has_picture_android['profile_completion_show_picture'] 
df_mea_has_picture_android.head()

,country_sk,profile_completion_show_picture,has_picture,has_picture_conversion
0,olx|mea|za,658,229,0.348024
1,olx|mea|ug,51,29,0.568627
2,olx|mea|gh,131,67,0.511450
3,olx|mea|pk,6405,4,0.000625
4,olx|mea|ng,200,108,0.540000

- NAME

In [19]:
df_mea_real_name_android['valid_name_conversion'] = df_mea_real_name_android['valid_name'] / df_mea_real_name_android['profile_completion_name_show'] 
df_mea_real_name_android.head()

   country_sk  profile_completion_name_show  valid_name  valid_name_conversion
0  olx|mea|za                           307         221               0.719870
1  olx|mea|gh                            74          56               0.756757
2  olx|mea|ke                           119          89               0.747899
3  olx|mea|ug                            35          27               0.771429
4  olx|mea|pk                          2072        1271               0.613417

- HAS ABOUT

In [20]:
df_mea_has_about_android['has_about_conversion'] = df_mea_has_about_android['has_about'] / df_mea_has_about_android['profile_completion_show_about'] 
df_mea_has_about_android.head()

   country_sk  profile_completion_show_about  has_about  has_about_conversion
0  olx|mea|gh                            185        101              0.545946
1  olx|mea|za                            855        336              0.392982
2  olx|mea|pk                           7394       2316              0.313227
3  olx|mea|ug                             59         33              0.559322
4  olx|mea|ke                            309        156              0.504854

- HAS EMAIL

In [21]:
df_mea_valid_email_android['has_valid_email_conversion'] = df_mea_valid_email_android['valid_email'] / df_mea_valid_email_android['profile_completion_email_show'] 
df_mea_valid_email_android.head()

,country_sk,profile_completion_email_show,valid_email,has_valid_email_conversion
0,olx|mea|za,427,0,0.0
1,olx|mea|ug,51,0,0.0
2,olx|mea|gh,136,0,0.0
3,olx|mea|ng,152,0,0.0
4,olx|mea|pk,2289,0,0.0

- HAS PHONE

In [22]:
df_mea_valid_phone_android['has_valid_phone_conversion'] = df_mea_valid_phone_android['valid_phone'] / df_mea_valid_phone_android['profile_completion_phone_show'] 
df_mea_valid_phone_android.head()

   profile_completion_phone_show  valid_phone  has_valid_phone_conversion
0                           3851            0                         0.0

- HAS SOCIAL ACCOUNT

In [23]:
df_mea_valid_social_account_android['social_account_conversion'] = df_mea_valid_social_account_android['valid_social_account'] / df_mea_valid_social_account_android['profile_completion_show_social_account'] 
df_mea_valid_social_account_android.head()

,country_sk,profile_completion_show_social_account,valid_social_account,social_account_conversion
0,olx|mea|za,343,0,0.0
1,olx|mea|gh,94,0,0.0
2,olx|mea|pk,2714,0,0.0
3,olx|mea|ug,35,0,0.0
4,olx|mea|ng,144,0,0.0

In [24]:
import pymysql.cursors

import pandas as pd
import numpy as np
from time import time
import json
from sqlalchemy import create_engine
import re
import datetime
import lifetimes
#import pymc3 as pm

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
plt.style.use('seaborn-whitegrid')
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
import cufflinks
cufflinks.go_offline(connected=True)
init_notebook_mode(connected=True)

connect = r"postgresql://{user}:{passw}@panamera-ods.cnsuxis6zqxr.us-west-2.redshift.amazonaws.com:5439/panameraods"
connection_string = connect.format(user='lucasdresl' , passw='cQsY801a76x82x62aWDT')

# WEB

query = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'intro'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'intro' THEN session_long ELSE NULL END) AS profile_completion_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_about,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS puso_al_menos_phone,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS puso_al_menos_email,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS valid_name,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS social_account
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
;

  
"""

query_has_about = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS profile_completion_show_about,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_about
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
;

"""


query_has_picture = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS profile_completion_show_picture,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
;

"""

query_valid_social_account = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS profile_completion_show_social_account,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS valid_social_account
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
;

"""

query_real_name = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS profile_completion_name_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS valid_name
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)
;

"""


query_valid_email = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month

WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email' and date_event_nk > '2019-05-16'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS profile_completion_email_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'verify_complete' and origin_nk = 'profile_bar'  THEN session_long ELSE NULL END) AS valid_email
FROM ods.panameraolx_mea_hydra_ninja_web_last_month

JOIN verified USING (session)
where date_event_nk > '2019-05-16'
;

"""


query_valid_phone = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone'
 and date_event_nk > '2019-05-16'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS profile_completion_phone_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'verify_complete' and origin_nk = 'profile_bar' THEN session_long ELSE NULL END) AS valid_phone
FROM ods.panameraolx_mea_hydra_ninja_web_last_month

JOIN verified USING (session)
 where date_event_nk > '2019-05-16'
;

"""


df_mea = pd.read_sql_query(query.replace('%', '%%'), connection_string)
df_mea_has_about = pd.read_sql_query(query_has_about.replace('%', '%%'), connection_string)
df_mea_has_picture = pd.read_sql_query(query_has_picture.replace('%', '%%'), connection_string)
df_mea_valid_social_account = pd.read_sql_query(query_valid_social_account.replace('%', '%%'), connection_string)
df_mea_real_name = pd.read_sql_query(query_real_name.replace('%', '%%'), connection_string)
df_mea_valid_email = pd.read_sql_query(query_valid_email.replace('%', '%%'), connection_string)
df_mea_valid_phone = pd.read_sql_query(query_valid_phone.replace('%', '%%'), connection_string)

df_mea.head()

df_mea_valid_social_account.head()

- PICTURE

df_mea_has_picture['has_picture_conversion'] = df_mea_has_picture['has_picture'] / df_mea_has_picture['profile_completion_show_picture'] 
df_mea_has_picture.head()

- NAME

df_mea_real_name['valid_name_conversion'] = df_mea_real_name['valid_name'] / df_mea_real_name['profile_completion_name_show'] 
df_mea_real_name.head()

- HAS ABOUT

df_mea_has_about['has_about_conversion'] = df_mea_has_about['has_about'] / df_mea_has_about['profile_completion_show_about'] 
df_mea_has_about.head()

- HAS EMAIL

df_mea_valid_email['has_valid_email_conversion'] = df_mea_valid_email['valid_email'] / df_mea_valid_email['profile_completion_email_show'] 
df_mea_valid_email.head()

- HAS PHONE

df_mea_valid_phone['has_valid_phone_conversion'] = df_mea_valid_phone['valid_phone'] / df_mea_valid_phone['profile_completion_phone_show'] 
phone = df_mea_valid_phone['has_valid_phone_conversion'] 
df_mea_valid_phone.head()

- HAS SOCIAL ACCOUNT

df_mea_valid_social_account['social_account_conversion'] = df_mea_valid_social_account['valid_social_account'] / df_mea_valid_social_account['profile_completion_show_social_account'] 
social_account = df_mea_valid_social_account['social_account_conversion']
df_mea_valid_social_account.head()

d = {'step'      : ['about', 'phone' , 'email' , 'picture' , 'name' , 'social account'],
     'conversion': [df_mea_has_about['has_about_conversion'].values , 
                    df_mea_valid_phone['has_valid_phone_conversion'].values,
                    df_mea_valid_email['has_valid_email_conversion'].values,
                    df_mea_has_picture['has_picture_conversion'].values,
                    df_mea_real_name['valid_name_conversion'].values,
                    df_mea_valid_social_account['social_account_conversion'].values]}
df = pd.DataFrame(data=d)
df.head(20)


# Android

query = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'myaccount_action' and chosen_option = 'profile_bar'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'myaccount_action' and chosen_option = 'profile_bar'  THEN session_long ELSE NULL END) AS profile_completion_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_about,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS puso_al_menos_phone,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS puso_al_menos_email,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS valid_name,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'social_account' THEN session_long ELSE NULL END) AS social_account
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
;

  
"""

query_has_about = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about'
)
SELECT
  country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS profile_completion_show_about,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_about
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
group by 1
;

"""


query_has_picture = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS profile_completion_show_picture,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
group by 1
;

"""

query_valid_social_account = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS profile_completion_show_social_account,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS valid_social_account
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
group by 1

;

"""

query_real_name = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS profile_completion_name_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS valid_name
FROM ods.panameraolx_mea_hydra_ninja_android_last_month
JOIN verified USING (session)
group by 1
;

"""


query_valid_email = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month

WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email' and date_event_nk > '2019-05-16'
)
SELECT
country_sk,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS profile_completion_email_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'verify_complete' and origin_nk = 'profile_bar'  THEN session_long ELSE NULL END) AS valid_email
FROM ods.panameraolx_mea_hydra_ninja_android_last_month

JOIN verified USING (session)
where date_event_nk > '2019-05-16'
group by 1
;

"""


query_valid_phone = """
WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_android_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone'
 and date_event_nk > '2019-05-16'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS profile_completion_phone_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'verify_complete' and origin_nk = 'profile_bar' THEN session_long ELSE NULL END) AS valid_phone
FROM ods.panameraolx_mea_hydra_ninja_android_last_month

JOIN verified USING (session)
 where date_event_nk > '2019-05-16'
;

"""


df_mea_android = pd.read_sql_query(query.replace('%', '%%'), connection_string)
df_mea_has_about_android = pd.read_sql_query(query_has_about.replace('%', '%%'), connection_string)
df_mea_has_picture_android = pd.read_sql_query(query_has_picture.replace('%', '%%'), connection_string)
df_mea_valid_social_account_android = pd.read_sql_query(query_valid_social_account.replace('%', '%%'), connection_string)
df_mea_real_name_android = pd.read_sql_query(query_real_name.replace('%', '%%'), connection_string)
df_mea_valid_email_android = pd.read_sql_query(query_valid_email.replace('%', '%%'), connection_string)
df_mea_valid_phone_android = pd.read_sql_query(query_valid_phone.replace('%', '%%'), connection_string)

df_mea_android.head()

df_mea_has_about_android.head()

- PICTURE

df_mea_has_picture_android['has_picture_conversion'] = df_mea_has_picture_android['has_picture'] / df_mea_has_picture_android['profile_completion_show_picture'] 
df_mea_has_picture_android.head()

- NAME

df_mea_real_name_android['valid_name_conversion'] = df_mea_real_name_android['valid_name'] / df_mea_real_name_android['profile_completion_name_show'] 
df_mea_real_name_android.head()

- HAS ABOUT

df_mea_has_about_android['has_about_conversion'] = df_mea_has_about_android['has_about'] / df_mea_has_about_android['profile_completion_show_about'] 
df_mea_has_about_android.head()

- HAS EMAIL

df_mea_valid_email_android['has_valid_email_conversion'] = df_mea_valid_email_android['valid_email'] / df_mea_valid_email_android['profile_completion_email_show'] 
df_mea_valid_email_android.head()

- HAS PHONE

df_mea_valid_phone_android['has_valid_phone_conversion'] = df_mea_valid_phone_android['valid_phone'] / df_mea_valid_phone_android['profile_completion_phone_show'] 
df_mea_valid_phone_android.head()

- HAS SOCIAL ACCOUNT

df_mea_valid_social_account_android['social_account_conversion'] = df_mea_valid_social_account_android['valid_social_account'] / df_mea_valid_social_account_android['profile_completion_show_social_account'] 
df_mea_valid_social_account_android.head()

SyntaxError: invalid syntax (<ipython-input-24-312dfe565622>, line 174)