In [46]:
import pandas as pd
import numpy as np
from time import time
import json
from sqlalchemy import create_engine
import re
import datetime

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

#import numpy as np
#import pymc3 as pm
#import matplotlib.pyplot as plt
#import abyes as ab

url='panamera-ods.cnsuxis6zqxr.us-west-2.redshift.amazonaws.com:5439/panameraods'
dbname = 'redshift'
credentials = json.load(open('C:\\Users\\OLX - Lucas Dresi\\Documents\\LicenciaGrid\\dbconfig.json'))[dbname]
engine = create_engine("postgresql://" + credentials['user'] + ":" + credentials['password'] + "@" + url)

In [2]:
connect = r"postgresql://{user}:{passw}@panamera-ods.cnsuxis6zqxr.us-west-2.redshift.amazonaws.com:5439/panameraods"
connection_string = connect.format(user='lucasdresl' , passw='cQsY801a76x82x62aWDT')

### Importing users whith photo and images

In [3]:
df_pk = pd.read_csv('C:\\Users\\OLX - Lucas Dresi\\Documents\\Profile_completion\\profile_data_pakistan.csv' , error_bad_lines=False)

b'Skipping line 941868: expected 5 fields, saw 7\n'

In [48]:
df_pk.head()

    user_id registration          default_person  real_name  has_image
0  38427306   2018-10-01  AMeer ALi Abdul Hameed          1          0
1  38427307   2018-10-01             Muzam Iqbal          1          0
2  38427308   2018-10-01             Talha Nasir          1          0
3  38427309   2018-10-01                OLX User          0          0
4  38427310   2018-10-01          Aniee Shabraiz          1          0

## Querying data frame

In [23]:
query = '''

select * from (
  select
    a.*,
    c.conversation_nk is not Null has_replied_from_seller
  from (
         select
           conversation_nk,
           listing_sk,
           split_part(buyer_sk, '|', 6) as user_id,
           seller_sk,
           reply_channel_sk,
           date_sent_nk
         from (
           select
             *,
             row_number()
             over (
               partition by conversation_nk
               order by time_sent_local ) as msg_number
           from ods.fact_conversations
           where country_sk = 'olx|mea|pk')
         where msg_number = 1 and message_type = 'text' and msg_type = 'buyer-seller'
       ) a
    left join (select distinct
                 conversation_nk,
                 response_channel_sk
               from ods.fact_conversations
               where country_sk = 'olx|mea|pk' and msg_type = 'seller-buyer') c
      on a.conversation_nk = c.conversation_nk
)
   ORDER BY random()
    LIMIT 3000000


    
'''

In [24]:
df = pd.read_sql_query(query.replace('%', '%%'), connection_string)

In [25]:
df.head()

,conversation_nk,listing_sk,user_id,seller_sk,reply_channel_sk,date_sent_nk,has_replied_from_seller
0,1d13990917d906134c7fbe82209693832f62f28f,olx|mea|pk|1001132562,34410762,olx|mea|pk|platform|id|33153550,mobile_app|android,2018-12-06,True
1,e456e879eeccb11b8804bb076d8a7a2e90fe78b2,olx|mea|pk|1000842318,100127629,olx|mea|pk|platform|id|100260542,mobile_app|android,2018-11-30,True
2,9f82da554cee2b8395d5e8ac1b69e13676d8706a,olx|mea|pk|1000978753,28157217,olx|mea|pk|platform|id|36837313,mobile_app|android,2018-12-02,False
3,993de1b67a1330bd0de256a6c56a8e4033738aec,olx|mea|pk|863660986,35519917,olx|mea|pk|platform|id|32444457,mobile_app|android,2018-11-22,True
4,ae6f6329ae654532f46ac83b278fdb3752484366,olx|mea|pk|1002255114,101831561,olx|mea|pk|platform|id|100998689,mobile_app|android,2019-01-24,True

In [26]:
df.dtypes

conversation_nk            object
listing_sk                 object
user_id                    object
seller_sk                  object
reply_channel_sk           object
date_sent_nk               object
has_replied_from_seller      bool
dtype: object

In [35]:
#df['has_replied_from_seller'] = np.where(df['has_replied_from_seller']==true , 1, 0)

In [28]:
df_pk.rename(columns={'id' : 'user_id'} , inplace=True)

In [29]:
df['user_id'] = df['user_id'].astype(int)

In [30]:
table = pd.merge(df , df_pk , how='inner' , on=['user_id'])
table.head()

,conversation_nk,listing_sk,user_id,seller_sk,reply_channel_sk,date_sent_nk,has_replied_from_seller,registration,default_person,real_name,has_image
0,e456e879eeccb11b8804bb076d8a7a2e90fe78b2,olx|mea|pk|1000842318,100127629,olx|mea|pk|platform|id|100260542,mobile_app|android,2018-11-30,True,2018-11-01,Hamza,1,0
1,290c00e0165659e6603f92c4a7e8d6faa781e1a9,olx|mea|pk|1002711249,100127629,olx|mea|pk|platform|id|34941355,mobile_app|android,2019-01-29,True,2018-11-01,Hamza,1,0
2,0bfa164507901087b06a1578ca5f9997c6e409fa,olx|mea|pk|1000089350,100127629,olx|mea|pk|platform|id|34785896,mobile_app|android,2018-11-02,True,2018-11-01,Hamza,1,0
3,09f795bf54fd62485711c1ae68e292fca7feb713,olx|mea|pk|1002119370,100127629,olx|mea|pk|platform|id|37931729,mobile_app|android,2019-01-09,False,2018-11-01,Hamza,1,0
4,01569e5aaa3c95535bcfd68a4f619c9ac0cdb7c1,olx|mea|pk|1001399463,100127629,olx|mea|pk|platform|id|34747632,mobile_app|android,2018-12-16,False,2018-11-01,Hamza,1,0

In [31]:
table.shape

(1066883, 11)

In [32]:
table['both'] = np.where(table['real_name'] * table['has_image'] == 1 , 1,0)

In [33]:
table.groupby(['both','has_replied_from_seller'])['has_replied_from_seller'].count()

both  has_replied_from_seller
0     False                      265674
      True                       273337
1     False                      260505
      True                       267367
Name: has_replied_from_seller, dtype: int64

In [43]:
final = table.groupby(['user_id' , 'has_replied_from_seller'])['conversation_nk'].count().to_frame().reset_index()
final['total_conversation'] = final.groupby(['user_id'])['conversation_nk'].transform('sum')
final['perc_reply'] = final['conversation_nk']/final['total_conversation']
final.head()

,user_id,has_replied_from_seller,conversation_nk,total_conversation,perc_reply
0,38427337,False,1,1,1.000000
1,38427453,False,13,32,0.406250
2,38427453,True,19,32,0.593750
3,38427462,False,2,3,0.666667
4,38427462,True,1,3,0.333333

In [44]:
final = pd.merge(final , df_pk , how='inner' , on=['user_id'])
final.head()

,user_id,has_replied_from_seller,conversation_nk,total_conversation,perc_reply,registration,default_person,real_name,has_image
0,38427337,False,1,1,1.000000,2018-10-01,OLX User,0,0
1,38427453,False,13,32,0.406250,2018-10-01,Sale,1,0
2,38427453,True,19,32,0.593750,2018-10-01,Sale,1,0
3,38427462,False,2,3,0.666667,2018-10-01,OLX User,0,0
4,38427462,True,1,3,0.333333,2018-10-01,OLX User,0,0

In [45]:
final.to_csv('C:\\Users\\OLX - Lucas Dresi\\Documents\\Profile_completion\\for_stata.csv')

In [41]:
final.groupby(['real_name'])['perc_reply'].mean()

real_name
0    0.788664
1    0.748228
Name: perc_reply, dtype: float64

In [47]:
df = pd.read_csv('C:\\Users\\OLX - Lucas Dresi\\Documents\\Profile_completion\\logeados.csv')

In [49]:
df.head()

           channel_sk      user_id  phone  email  facebook  google
0  mobile_app|android   34056726.0      8      0         0       0
1  mobile_app|android   26738771.0     16      0         0       0
2  mobile_app|android  101813665.0      0      0         0       2
3      web|mobile_web  100355858.0      0      0        12       0
4  mobile_app|android  100642385.0      0      0        41       0

In [50]:
df = pd.merge(df , df_pk , how='inner',on=['user_id'])

In [51]:
df.shape

(179746, 10)

In [52]:
df.to_csv('C:\\Users\\OLX - Lucas Dresi\\Documents\\Profile_completion\\logeados_v2.csv')