In [38]:
import pymysql.cursors

import pandas as pd
import numpy as np
from time import time
import json
from sqlalchemy import create_engine
import re
import datetime
import lifetimes
#import pymc3 as pm

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
plt.style.use('seaborn-whitegrid')
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
import cufflinks
cufflinks.go_offline(connected=True)
init_notebook_mode(connected=True)

import plotly
plotly.tools.set_config_file(world_readable=True , sharing='public')

In [39]:
connect = r"postgresql://{user}:{passw}@panamera-ods.cnsuxis6zqxr.us-west-2.redshift.amazonaws.com:5439/panameraods"
connection_string = connect.format(user='lucasdresl' , passw='cQsY801a76x82x62aWDT')

## More complete

In [42]:
query = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'intro'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'intro' THEN session_long ELSE NULL END) AS profile_completion_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_about,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS valid_phone,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS valid_name,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS social_account,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and chosen_option = 'continue' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS valid_email
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)


"""

query_picture = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_picture' THEN session_long ELSE NULL END) AS has_picture_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and origin_nk = 'profile_bar' and flow_step = 'has_picture' and chosen_option='continue' THEN session_long ELSE NULL END) AS has_picture_continue
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)


"""

query_has_about = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'has_about' THEN session_long ELSE NULL END) AS has_picture_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and origin_nk = 'profile_bar' and flow_step = 'has_about' and chosen_option='continue' THEN session_long ELSE NULL END) AS has_picture_continue
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)


"""


query_valid_email = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_email' THEN session_long ELSE NULL END) AS has_picture_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and origin_nk = 'profile_bar' and flow_step = 'valid_email' and chosen_option='continue' THEN session_long ELSE NULL END) AS has_picture_continue
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)


"""

query_valid_phone = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_phone' THEN session_long ELSE NULL END) AS has_picture_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and origin_nk = 'profile_bar' and flow_step = 'valid_phone' and chosen_option='continue' THEN session_long ELSE NULL END) AS has_picture_picture
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)


"""

query_valid_social_account = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account' THEN session_long ELSE NULL END) AS has_picture_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and origin_nk = 'profile_bar' and flow_step = 'valid_social_account' and chosen_option='continue' THEN session_long ELSE NULL END) AS has_picture_picture
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)


"""

query_valid_name = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS has_picture_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and origin_nk = 'profile_bar' and flow_step = 'valid_name' and chosen_option='continue' THEN session_long ELSE NULL END) AS has_picture_picture
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)


"""

query_valid_name = """

WITH verified AS (
    SELECT session
from ods.panameraolx_mea_hydra_ninja_web_last_month
WHERE trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name'
)
SELECT
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_show' and origin_nk = 'profile_bar' and flow_step = 'valid_name' THEN session_long ELSE NULL END) AS has_picture_show,
  COUNT(DISTINCT CASE WHEN trackevent = 'profile_completion_action' and origin_nk = 'profile_bar' and flow_step = 'valid_name' and chosen_option='continue' THEN session_long ELSE NULL END) AS has_picture_picture
FROM ods.panameraolx_mea_hydra_ninja_web_last_month
JOIN verified USING (session)


"""

In [43]:
df1 = pd.read_sql_query(query.replace('%', '%%'), connection_string)
df_picture = pd.read_sql_query(query_picture.replace('%', '%%'), connection_string)
df_has_about = pd.read_sql_query(query_has_about.replace('%', '%%'), connection_string)
df_valid_email = pd.read_sql_query(query_valid_email.replace('%', '%%'), connection_string)
df_valid_phone = pd.read_sql_query(query_valid_phone.replace('%', '%%'), connection_string)
df_social_account = pd.read_sql_query(query_valid_social_account.replace('%', '%%'), connection_string)
df_valid_name = pd.read_sql_query(query_valid_name.replace('%', '%%'), connection_string)

In [31]:
df1.head()

,profile_completion_show,has_about,valid_phone,has_picture,valid_name,social_account,valid_email
0,2824,466,376,219,159,39,195

Valid_phone y valid_email no es el exito de la accion, es tan solo meten el email y el celular en los widgets de profile completion y le dan continuar , no necesariamente esta validado

In [44]:
df_picture['has_picture_conversion'] = df_picture['has_picture_continue'] / df_picture['has_picture_show'] 
df_picture.head()

   has_picture_show  has_picture_continue  has_picture_conversion
0               783                   267                0.340996

In [45]:
df_valid_name['valid_name_conversion'] = df_valid_name['has_picture_picture'] / df_valid_name['has_picture_show'] 
df_valid_name.head()

   has_picture_show  has_picture_picture  valid_name_conversion
0               333                  207               0.621622

In [46]:
df_has_about['has_about_conversion'] = df_has_about['has_picture_continue'] / df_has_about['has_picture_show'] 
df_has_about.head()

   has_picture_show  has_picture_continue  has_about_conversion
0               914                   577              0.631291

In [47]:
df_valid_email['has_valid_email_conversion'] = df_valid_email['has_picture_continue'] / df_valid_email['has_picture_show'] 
df_valid_email.head()

   has_picture_show  has_picture_continue  has_valid_email_conversion
0               359                   252                     0.70195

In [48]:
df_valid_phone['has_valid_email_conversion'] = df_valid_phone['has_picture_picture'] / df_valid_phone['has_picture_show'] 
df_valid_phone.head()

   has_picture_show  has_picture_picture  has_valid_email_conversion
0               573                  471                     0.82199

In [37]:
df_social_account['social_account_conversion'] = df_social_account['has_picture_picture'] / df_social_account['has_picture_show'] 
df_social_account.head()

   has_picture_show  has_picture_picture  social_account_conversion
0               266                   39                   0.146617

In [ ]:

x = ['About' , 'Has phone', 'Has picture' , 'Real name' , 'Social account']
y = [df1['']]